{% extends "base-actual.html" %}

{% load i18n static %}

{% block meta_title %}{% trans "About" %}{% endblock %}
{% block title %}{% endblock %}

{% block main_content %}

    <div class="content-container">
        <h4>{% trans 'About' %}</h4>

        <p>{% blocktrans %}The Thicc Gaming Community was made by <a href="https://steamcommunity.com/id/m1str_hankey" rel="nofollow" target="_blank">m1str hankey</a>.{% endblocktrans %}</p>
        <p class="no-padding-top">{% blocktrans %}ThiccGaming.com is made from open-source code using Django with Python. The website was made in collaboration with Azelphur<a href = "https://github.com/aldenjenkins/thiccgaming.com">GitHub here</a>{% endblocktrans %}</p>
    </div>



{% endblock %}
