#!/bin/sh

### This file is used for development use only.
### Dev and Prod sections exist so you can test the application
### in either runtime scenario, or connect to either database as needed.

SITE_ID=1
SECRET_KEY=makesomethinglonganduniquehere
DB_ENGINE=django.db.backends.mysql
DB_IP=mysql-site
DB_PORT=3306
DJANGO_SETTINGS_MODULE=thicc.settings
PYTHONUNBUFFERED=1
AWS_SECRET_KEY=yoursecret
AWS_ACCESS_KEY=youraccesskey
PAYPAL_EMAIL=yourpaypal@yourdomain.com
SENTRY_UNIQUE_URL=https://yoururl@sentry.io/yourlink
AWS_BUCKET=yourbucket
OWNER_EMAIL=youremail
DEFAULT_FROM_EMAIL=hello@thicc.io
RECAPTCHA_KEY=yourkey
RECAPTCHA_SECRET=yoursecret
STEAM_KEY=key
RCON_PASSWORD=yourpassword
MAIL_FROM=youremail@example.com
ADMIN_URL=admin
FLOWER_BASIC_AUTH=yourusername:yourpassword

# For Dev
DEBUG=poop
IS_DEVELOPMENT=burp
DB_USER=yourdbuserfrommysqlenvironmentfile
DB_NAME=thiccsite
DB_PASSWORD=yourdbpasswordfrommysqlenvironmentfile

# ## For Prod
# #export DEBUG="poop"
# #export IS_DEVELOPMENT="burp"
# export AWS_BUCKET="bucket"
# export DB_USER="yourproduser"
# export DB_NAME="yourdbname"
# export DB_PASSWORD="yourdbpassword"
# 
