{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n static %}

{% block body_id %}profile edit-avatar{% endblock %}
{% block meta_title %}{% trans 'Avatar Settings' %}{% endblock %}


{% block content %}
	<div class="content-container">

		<h3>{% trans "Avatar" %}</h3>
		<form id="upload_avatar" method="post" enctype="multipart/form-data" >
			{% csrf_token %}
			<p>{% blocktrans %}An avatar is a small image that will be displayed under your username in your posts.{% endblocktrans %}</p>

			{% if user.forum_profile.avatar %}
				<div class="row">
					<div class="col s12 input-field">
						<h5>{% trans "Current Avatar" %}</h5>
						<img src="{{ user.forum_profile.avatar }}" alt="User Avatar" class="left pad-right" />
						<p>
							<input id="avatar-clear_id" name="avatar-clear" type="checkbox" />
							<label for="avatar-clear_id">{% trans "Delete current avatar" %}</label>
						</p>
					</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="col s12">
					<h3>{% if user.forum_profile.avatar %}{% trans "Change Avatar" %}{% else %}{% trans "Upload Avatar" %}{% endif %}</h3>
                <h4>{% trans "The following extensions are allowed:" %}</h4>
                <ul>
                    <li>.png</li>
                    <li>.jpg</li>
                    <li>.jpeg</li>
                    <li>.gif</li>
                </ul>
                <h4>{% trans "Other requirements" %}</h4>
                <ul>
                    <li>It must not be any bigger than {{ avatar_width }} x {{ avatar_height }} pixels.</li>
                    <li>Maximum of 2.5MB in size.</li>
                </ul>
					{{ form.avatar.errors }}
                    <noscript></noscript>


                    <div id="hasJavaScript" style="display: none">
                        <!-- Contents hidden when JavaScript is disabled -->
                        <input id="id_avatar" name="avatar" type="file">
                    </div>

                    <div id="noscript">
                        <!-- Contents shown only when JavaScript is disabled -->
                        <h4>{% trans "You must have javascript enabled to upload an avatar"%}</h4>
                    </div>


				</div>
			</div>


                <button name="upload" type="submit" class="btn" >{% trans "Save" %}</button>
                &nbsp;&nbsp;<a class="btn-flat"  href="{{ back_url|default:"javascript:history.go(-1);" }}">{% trans "Go back" %}</a>

		</form>
	</div>
    <script type="text/javascript">

                        document.getElementById('hasJavaScript').style.display = 'inline-block';
                        document.getElementById('noscript').style.display = 'none';

                    </script>
{% endblock %}

{% block controls %}{% endblock %}
{% block board_footer %}{% endblock %}
