{% extends 'djangobb_forum/base.html' %}
{% load forum_extras stat_tags %}
{% load i18n %}

{% block body_id %}forum profile{% endblock %}
{% block meta_title %}{{ profile|truncatechars:12 }} | {% trans 'User' %}{% endblock %}

{% block content %}
    <div class="forum-head pad-bottom">
		{% if profile.forum_profile.avatar and profile.forum_profile.show_avatar %}
			<img src="{{ profile.forum_profile.avatar }}" width=80 alt="User Avatar" class="left pad-right" />
		{% else %}
			{% if forum_settings.GRAVATAR_SUPPORT and profile.forum_profile.show_avatar %}
				<img src="{% gravatar profile.email %}" alt="User Avatar" class="left pad-right" />
			{% endif %}
		{% endif %}
        <h3 class="forum-head-title">
            {{ profile }}
            <span class="sub-title">{{ profile.forum_profile.status|default:'Member' }}</span>
        </h3>
        <div class="forum-head-actions">
            {% if forum_settings.PM_SUPPORT and user.is_authenticated %}<a class="btn" href="{% url 'messages_compose_to' profile %}"><i style="font-size:inherit;" class="fa fa-fw fa-envelope"></i> {% trans "Send Private Message" %}</a>{% endif %}
        </div>
    </div>
    <div class="content-container">
    	<h3>{% trans "Personal" %}</h3>
    	<dl class="styled-dl">
    		<dt><strong>{% trans "Real name:" %}</strong></dt>
    		<dd>
    			{% if profile.first_name or profile.last_name %}
					{{ profile.first_name }} {{ profile.last_name }}
				{% else %}
					{% trans "(Not Set)" %}
				{% endif %}
			</dd>
    		<dt><strong>{% trans "Location:" %}</strong></dt>
    		<dd>
				{% if profile.forum_profile.location %}
					{{ profile.forum_profile.location }}
				{% else %}
					{% trans "(Not Set)" %}
				{% endif %}
			</dd>
			<dt><strong>{% trans "Website:" %}</strong></dt>
			<dd>
				{% if profile.forum_profile.site %}
					{{ profile.forum_profile.site|urlize }}
				{% else %}
					{% trans "(Not Set)" %}
				{% endif %}
			</dd>
			{% if forum_settings.USER_TO_USER_EMAIL %}
				<dt><strong>{% trans "E-mail:" %}</strong></dt>
				<dd>
					{% if profile.forum_profile.privacy_permission == 0 %}
						<a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
					{% else %}
						{% if profile.forum_profile.privacy_permission == 1 %}
							<a href="{% url 'djangobb:misc' %}?mail_to={{ profile }}">{% trans "Send e-mail" %}</a>
						{% else %}
							{% trans "(Hidden)" %}
						{% endif %}
					{% endif %}
				</dd>
			{% endif %}
            <dd style="width:100%;"><a href="http://steamcommunity.com/profiles/{{ profile.social_auth }}"><strong>{% trans "Steam Community Profile" %}</strong></a></dd>
    	</dl>
    </div>
    <div class="content-container">
    	<h3>{% trans "Personality" %}</h3>
    	<dl class="styled-dl">
    		<dt class="full-width"><strong>{% trans "Forum Signature:" %}</strong></dt>
    		<dd class="full-width">
				{% if profile.forum_profile.signature_html %}
					<div class="forum-sig-box">{{ profile.forum_profile.signature_html|safe }}</div>
				{% else %}
					{% trans "Not set." %}
				{% endif %}
			</dd>
		</dl>
    </div>
    <div class="content-container">
    	<h3>{% trans "User activity" %}</h3>
     	<dl class="styled-dl">
    		<dt><strong>{% trans "Reputation:" %}</strong></dt>
    		<dd>
				<span class="green-text"><i class="fa fa-thumbs-up"></i> {{ profile.forum_profile.reply_count_plus|default_if_none:"0" }}</span>&nbsp;&nbsp;&nbsp;
				<span class="red-text"><i class="fa fa-thumbs-down"></i> {{ profile.forum_profile.reply_count_minus|default_if_none:"0" }}</span>&nbsp;
				- <a href="{% url 'djangobb:reputation' profile %}">{% trans "View Reputation" %}</a>
			</dd>
    		<dt><strong>{% trans "Posts:" %}</strong></dt>
    		<dd>
				{{ profile.forum_profile.post_count }} - <a href="{% url 'djangobb:search' %}?action=show_user&amp;user_id={{ profile.id }}">{% trans "Show all posts" %}</a>
			</dd>
			{% if profile.forum_profile.last_post %}
	    		<dt><strong>{% trans "Last post:" %}</strong></dt>
	    		<dd>
					{{ profile.forum_profile.last_post }}
				</dd>
			{% endif %}
    		<dt><strong>{% trans "Registered:" %}</strong></dt>
    		<dd>
				{{ profile.date_joined|date:"M. j, Y" }}
			</dd>
		</dl>
    </div>
{% with stat=profile.user.social_auth.first.my_stats_object %}
    <div class="content-container">
    	<h3>{% trans "Game Stats" %}</h3>
<table class="ban-table">
    <tr class ="row table-header">
        <th>Overall Rank</th>
        <th>User</th>
        <th>Total Points</th>
        <th>Play Time</th>
        <th>Last Online</th>
    </tr>
        <tr class = "ban-row" style="cursor:pointer;">
            <td>
                {# Rank #}
                <b>{{ stat.total_points }}</b>
            </td>
            <td>
                {# User & Photo #}
                {% if stat.linked_steam %}
                    {% if stat.linked_steam.user.forum_profile.avatar and stat.linked_steam.user.forum_profile.show_avatar %}
                        <a  href="{% url 'djangobb:forum_profile' stat.linked_steam.user.username %}">
                        <img src="{{ stat.linked_steam.user.forum_profile.avatar }}" width = "30px" style="vertical-align:middle;" alt="User Avatar" />
                        {{ stat.linked_steam.user.username }}
                        </a>
                    {% else %}
                        {% if forum_settings.GRAVATAR_SUPPORT and stat.linked_steam.user.forum_profile.show_avatar %}
                            <a href="{% url 'djangobb:forum_profile' stat.linked_steam.user.username %}">
                            <img src="{% gravatar stat.linked_steam.user.email %}" width = "30px" style="vertical-align:middle;" alt="User Avatar" />
                            {{ stat.linked_steam.user.username }}
                            </a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {{ stat.last_used_username }}
                {% endif %}
            </td>
            <td>
                {{ stat.total_points }}
            </td>
            <td>
                {% seconds_to_duration stat.total_playtime %}
            </td>
            <td>
                {% age_from_char_epoch stat.last_online %} ago
            </td>
        </tr>
        <tr class="ban-info" style="display:none">
            <td colspan="7" align="center" style="padding:0px">
                <div class="opener" style="padding-top: 0px; border-top: none; padding-bottom: 0px; border-bottom: none; overflow: hidden; visibility: visible; zoom: 1;">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="left" colspan="3">
                                    <b>User's Breakdown</b>
                                </td>
                            </tr>
                            <tr align="left">
                                <td width="30%" height="5" >Thicc Forum Profile</td>
                                <td height="5" >
                                    {% if stat.linked_steam %}
                                        <a href = {% url 'djangobb:forum_profile' stat.linked_steam.user.username %}>{{ stat.linked_steam.user.username }}</a>
                                    {% else %}
                                        No linked account
                                    {% endif %}
                                </td>
                            </tr>
                           <tr align="left">
                               <td width="20%" height="5" class="listtable_1">First Seen</td>
                               <td height="5" class="listtable_1">
                                   {{ stat.created_at }}
                               </td>
                           </tr>
                            <tr align="left">
                                <td width="20%" height="5">Steam ID</td>
                                <td height="5">
                                    {{ stat.steamid }}
                                </td>
                            </tr>
                            <tr align="left">
                                <td width="20%" height="5">Steam3 ID</td>
                                <td height="5" >
                                    <a href="http://steamcommunity.com/profiles/{{ stat.steam3 }}" target="_blank">{{ stat.steam3 }}</a>
                                </td>
                            </tr>
                            <tr align="left">
                                <td width="20%" height="5" >Steam Community</td>
                                <td height="5" ><a href="http://steamcommunity.com/profiles/{{ stat.steam64 }}" target="_blank">{{ stat.steam64 }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr class="ban-row"style="cursor:pointer;"><td style="text-align:center; background-color:#f5fbff;"><img src="{{ STATIC_URL }}img/l4d2-logo.png" width = "30px" style="vertical-align: middle;"><b>Left 4 Dead 2 Breakdown ({{ stat.l4d2_points }} Points)</b></td></tr>
                            <tr class="ban-info" style="; display: none;">
                               <td colspan="7" align="center" style="padding:0px;">
                                   <div class="opener" style="padding-top: 0px; border-top: none; padding-bottom: 0px; border-bottom: none; overflow: hidden; visibility: visible; zoom: 1; ">
                                       <table width="100%" cellspacing="0" cellpadding="0">
                                           <tbody>
                                               <tr align="left">
                                                   <td width="30%">Play Time</td>
                                                   <td>
                                                       {% seconds_to_duration stat.l4d2_playtime %}
                                                   </td>
                                               </tr>
                                               {% for key, attribute in stat.l4d2_stats.items %}
                                               <tr align="left">
                                                   <td width="30%">{{ key }}</td>
                                                   <td>
                                                       {{ attribute }}
                                                   </td>
                                               </tr>
                                               {% endfor %}
                                           </tbody>
                                       </table>
                                   </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr class="ban-row"style="cursor:pointer;"><td style="text-align:center; background-color:#f5fbff;"><img src="{{ STATIC_URL }}img/gmod-logo.png" width = "30px" style="vertical-align: middle;"><b>Garry's Mod ZS Breakdown ({{ stat.gmodzs_points }} Points)</b></td></tr>
                            <tr class="ban-info" style="display: none;">
                               <td colspan="7" align="center" style="padding:0px;">
                                   <div class="opener" style="padding-top: 0px; border-top: none; padding-bottom: 0px; border-bottom: none; overflow: hidden; visibility: visible; zoom: 1; ">
                                       <table width="100%" cellspacing="0" cellpadding="0">
                                           <tbody>
                                               <tr align="left">
                                                   <td width="30%">Play Time</td>
                                                   <td>
                                                       {% seconds_to_duration stat.gmodzs_playtime %}
                                                   </td>
                                               </tr>
                                               {% for key, attribute in stat.gmodzs_stats.items %}
                                               <tr align="left">
                                                   <td width="30%">{{ key }}</td>
                                                   <td>
                                                       {{ attribute }}
                                                   </td>
                                               </tr>
                                               {% endfor %}
                                           </tbody>
                                       </table>
                                   </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
</table>
    </div>
    {% endwith %}
{% endblock %}
